.titulo-agregar{

    color: #464646;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    .titulo-agregar{

        font-size: 22px;
        line-height: 26px;
    }
}