.producto{

    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 4rem 0;
    width: 70%;
}

@media screen and (max-width: 360px) {
    
    .producto{

        flex-direction: column;
        padding: 0 0 2rem 0;
        width: 100%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    
    .producto{

        padding: 2rem 0;
        width: 90%;
    }
}