.producto{

    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 4rem 0;
    width: 70%;
}

@media screen and (max-width: 768px) {
    
    .producto{

        margin: 0 auto;
        padding: 2rem 0;
        width: 90%;
    }
}