.label-form{

    color: #A2A2A2;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    position: absolute;
    top: 15%;
    width: 100%;
}

.label_mensaje-form{

    color: #A2A2A2;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    line-height: 20px;
    padding: 0.5rem 0.75rem;
    pointer-events: none;
    position: absolute;
    top: 15%;
    width: 100%;
}

.input-form:focus + .label-form, .text_mensaje-form:focus + .label_mensaje-form{

    transform: translateY(-25%);
}

.input-form:valid + .label-form{

    transform: translateY(-25%);
}

.text_mensaje-form:valid + .label_mensaje-form{

    visibility: hidden;
}

@media screen and (max-width: 360px) {
    
    .label-form{

        font-size: 12px;
        line-height: 16px;
    }
}