.productos{

    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 70%;
}

@media screen and (max-width: 360px) {
    
    .productos{

        margin: 1rem auto;
        width: 95%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {

    .productos{

        margin: 2rem auto;
        width: 90%;
    }
}