.agregar_producto{

    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    margin: 0 auto;
    width: 30%;
}

@media screen and (max-width: 360px) {
    
    .agregar_producto{

        padding: 1rem 0;
        width: 95%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {

    .agregar_producto{

        padding: 2rem 0;
        width: 90%;
    }
}