.login{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 4rem 0;
    width: 35%;
}

@media screen and (max-width: 360px) {
    
    .login{

        width: 80%;
    }
}