.imagen-producto-principal{

    margin-right: 1rem;
}

@media screen and (max-width: 360px) {
    
    .imagen-producto-principal{

        height: 192px;
        margin: 0 0 1rem 0;
        width: 100%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {

    .imagen-producto-principal{

        height: 157px;
        width: 254px;
    }
}