.form_login{

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 360px) {
    
    .form_login{

        width: 100%;
    }
}