.contenedor-encabezado{

    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem 0;
    width: 70%;
}

@media screen and (max-width: 768px) {
    
    .contenedor-encabezado{

        margin: 0 auto;
        width: 90%;
    }
}