.titulo-productos{

    color: #464646;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
}

@media screen and (max-width: 360px) {

    .titulo-productos{

        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    
    .titulo-productos{

        font-size: 22px;
        line-height: 26px;
    }
}