.descripcion-banner{

    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 360px) {
    
    .descripcion-banner{

        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 0.5rem;
    }
}