.titulo_login{

    color: #464646;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 360px) {
    
    .titulo_login{

        font-size: 16px;
        line-height: 19px
    }
}