.contenedor_descripcion-banner{

    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 35%;
}

@media screen and (max-width: 360px) {
    
    .contenedor_descripcion-banner{

        left: 2.5%;
        top: 20%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    
    .contenedor_descripcion-banner{

        left: 5%;
        top: 30%;
    }
}