.contenedor_descripcion-producto{
    
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 360px) {
    
    .contenedor_descripcion-producto{

        margin: 0 auto;
        width: 95%;
    }
}