.contenedor-drop_image{

    align-items: center;
    background: #ffffff;
    border: 1px dashed #C8C8C8;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 55%;
}

.contenedor_imagen-activo{

    background: #b2cff7;
}

@media screen and (max-width: 360px) {
    
    .contenedor-drop_image{

        width: 100%;
    }
}