.contenedor_buscador-encabezado{

    align-items: center;
    background: #F5F5F5;
    border-radius: 20px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    width: 393px;
}

@media screen and (max-width: 768px) {
    
    .contenedor_buscador-encabezado{

        width: 272px;
    }
}