.titulo-encabezado{

    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-right: 2rem;
}

.enlace-titulo-encabezado{

    align-items: center;
    display: flex;
    text-decoration: none;
}