.nombre-producto-principal{

    color: #464646;
    font-weight: 500;
    font-size: 52px;
    margin-bottom: 0.5rem;
    line-height: 61px;
}

@media screen and (max-width: 768px) {
    
    .nombre-producto-principal{

        line-height: 26px;
        font-size: 22px;
        font-weight: 500;
    }
}