.btn_enviar-form{

    background: #2A7AE4;
    border: 1px solid #2A7AE4;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 1rem;
}

@media screen and (max-width: 360px) {
    
    .btn_enviar-form{

        font-size: 14px;
        line-height: 16px;
        padding: 0.75rem 1rem;
    }
}