.titulo-pie_de_pagina{

    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-right: 2rem;
}

@media screen and (max-width: 768px) {

    .titulo-pie_de_pagina{

        margin: 0 0 1rem 0;
    }
}