.item-lista-productos{

    height: 249px;
    margin-bottom: 4rem;
    width: 176px;
}

@media screen and (max-width: 360px) {
    
    .item-lista-productos{

        margin-bottom: 1rem;
        width: 156px;
    }
}