.btn-verProducto{

    color: #2A7AE4;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

@media screen and (max-width: 360px) {
    
    .btn-verProducto{

        font-size: 14px;
        line-height: 16px;
    }
}